* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #141414;
  font-family: "PP Neue Montreal";
  color: #fff;
  font-size: 62.5%;
}

@font-face {
  font-family: "PowerGrotesk";
  src: url(assets/PowerGroteskTrial-Regular.otf);
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url(assets/PPNeueMontreal-Book.otf);
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 40px;
}

main {
  margin: 40px auto;
}

h1 {
  font-family: "PowerGrotesk";
  font-size: 6.4rem;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
  color: #ceea22;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  list-style-type: none;
}

.btn-primary {
  padding: 8px 12px;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.btn-primary:hover {
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}

.heading-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading-section > div > img {
  width: 901px;
}

.section-title {
  font-size: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* Corrected CSS Styles */

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 16rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.label {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.question-content {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

/* .flex-item {
  background-color: rgba(150, 150, 150, 0.5);
} */

.flex-item-4 {
  flex: 0 0 calc((100% / 12) * 4);
}

.flex-item-5 {
  flex: 0 0 calc((100% / 12) * 5);
}

.flex-item-6 {
  flex: 0 0 calc((100% / 12) * 6);
}

.flex-item-8 {
  flex: 0 0 calc((100% / 12) * 8);
}

.image-wrapper {
  width: fit-content;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.image-wrapper > img {
  max-width: 901px;
  border-radius: 8px;
  display: inline-block;
}

/* .content-wrapper {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
} */

.header-content {
  background-color: #1a1a18;
  padding: 16px;
}

/* Restart */

section {
  background-color: red;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.test-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.column-container {
  display: flex;
  gap: 16px;
}

.content-wrapper {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.project-brief {
  display: inline-block;
  padding: 16px;
  background-color: darkolivegreen;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.img-wrap {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
  border-radius: 8px;
}
