/* When starting this project, I wanted to create something that I have interest is, which is basketball (or sport). I started by using https://wordwall.net/resource/680216/nba-teams and eliminate some of the teams until its only 3 teams. From there I choose 1 team that i liked and also has a good colour palette. From there I started designing in Figma and then start copying it to HTML and CSS as I go */

/* I created color-swatches (variables) so that I can use these color easily and consistently throughout my website development */
:root {
  --border-color: rgba(220, 220, 220, 1);
  --gray-color: rgba(153, 153, 153, 1);
  --table-border-color: rgba(240, 240, 240, 1);
  --white-color: rgba(255, 255, 255, 1);
  --dark-bg-color: rgba(6, 29, 55, 1);
  --primary-color: rgba(0, 125, 194, 1);
  --secondary--color: rgba(253, 187, 50, 1);
  /* --secondary--color: rgba(238, 57, 36, 1); */
}

html {
  font-family: "Onest";
  font-size: 62.5%;
}

/* Font Styling */

body {
  font-size: 1.6rem;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
}

.navbar {
  height: 100%;
  padding: 20px 40px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

/* Initially with just the team title on the left-side, I felt the navbar was empty, so I just added another container that sets elements on the far ends and added an element "2024-2025 Team Stats" on the far right. */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo {
  width: 69px;
  height: 40px;
}

.navbar-title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
}

main {
  /* background-color: gold; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 0 40px;
}

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 40px;
  /* background-color: pink; */
}

/* Left-hand side styling, in here I just put in a div that has diplay: flex w/ flex-direction column and inside there are 2 more divs, the first one for tabs, and the second one is the court-illustration w/ players on it. */

.main-left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background-color: aliceblue; */
}

.tab-section {
  display: flex;
  width: 100%;
  gap: 12px;
  /* background-color: blueviolet; */
  /* border: 2px solid var(--border-color); */
  /* border-radius: 8px; */
}

.tab {
  padding: 12px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.tab:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
}

.active-tab {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
}

.active-tab:hover {
  background-color: var(--primary-color);
  transform: scale(1);
}

/* I used position relative here so I can make the child within this element position absolute and I can position it anywhere basically. */
.court-placeholder {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 674px;
  background-image: url(basketballCourt.png);
  background-size: cover;
}

.court-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player {
  display: inline-block;
  position: absolute;
  width: 27.5%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* From there, instead of adding different classes for players, I use same class which is .player (look above) to style the size of the player and make it absolute. Then from there I use IDs to categorize different players and position it differently */

#PG {
  top: 27.5%;
  left: 18.25em;
}

#SG {
  top: 42.5%;
  left: 5em;
}

#SF {
  top: 42.5%;
  right: 5em;
}

#PF {
  bottom: 5%;
  left: 8em;
}

#C {
  bottom: 5%;
  right: 8em;
}

/* Right-hand side styling, in here I just put in table that list the data of the player, instead of using a lot of divs, I just use table which makes it more easier. */

.main-right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: forestgreen; */
}

.reset-button {
  display: none;
  font-family: "Onest";
  padding: 12px 24px;
  font-size: 1.6rem;
  border: 2px solid var(--border-color);
  background-color: var(--white-color);
  border-radius: 8px;
  width: fit-content;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.reset-button:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.table-header {
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px var(--table-border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.bench-table-header {
  border-top: 1.5px solid var(--table-border-color);
}

th {
  /* background-color: orange; */
  padding: 12px;
  border-bottom: 1.5px solid var(--table-border-color);
  border-right: 1.5px solid var(--table-border-color);
}

td {
  padding: 12px;
  border-top: 1.5px solid var(--table-border-color);
}

.player-name {
  border-right: 1.5px solid var(--table-border-color);
  text-align: left;
}

.player-position {
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray-color);
}

.player-profile {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;
  border: 2px solid var(--table-border-color);
  border-top: 0;
  border-bottom: 0;
}

.player-profile-image {
  display: inline-block;
  width: 420px;
  height: 300px;
  background-image: url(shai-gilgeous-alexander.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: red; */
}

.player-profile-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#player-profile-name {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--dark-bg-color);
}

.data-row {
  display: flex;
}

.data-label {
  width: 150px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray-color);
}
